        body {
            background-image: url(doctor.jfif);
            background-repeat: no-repeat;
            align-content: center;
            background-size: cover;
            opacity: 1;
        }
        
        header {
            text-align: center;
            padding-top: 8px;
            font-size: 40;
            color: white;
            background-color: dodgerblue;
            background-blend-mode: color-dodge;
        }
        
        div {
            text-align: center;
            display: block;
            padding-top: 190px;
        }
        
        b#name {
            text-align: center;
            font-size: 30;
        }
        
        b#email {
            text-align: center;
            font-size: 30;
        }
        
        b#message {
            text-align: center;
            font-size: 30;
        }
        
        form {
            background-color: grey;
            color: blue;
            font-family: fantasy;
            display: inline-block;
            margin-right: auto;
            margin-left: auto;
            text-align: left;
            border-style: groove;
            border-radius: 15px;
        }
        
        button#send {
            align-items: center;
        }
        
        button {
            border-style: groove;
            border-radius: 20px;
            width: 400;
            height: 40;
            font-size: 30;
            color: white;
            text-align: match-parent;
            background-color: green;
        }
        
        input {
            height: 30;
            width: 400px;
            border-style: groove;
            border-radius: 10px;
        }
        
        a#third:hover {
            background-color: black;
            border-color: white;
            color: white;
        }
        
        a#third {
            background-color: white;
            color: blue;
            text-align: justify;
            font-size: 40;
            border-style: groove;
            text-decoration: none;
            padding-top: 40px;
            padding-bottom: 40px;
            padding-left: 25px;
            padding-right: 25px;
            background-color: white;
        }
        
        a#home {
            background-color: blue;
            color: white;
            align-content: space-between;
            font-size: 25;
            list-style-type: none;
            text-decoration: none;
            border-style: double;
            border-radius: 10px;
        }
        
        a#register:hover {
            border-color: white;
            background-color: black;
        }
        
        a#contact:hover {
            background-color: black;
            border-color: white;
        }
        
        a#contact {
            background-color: blue;
            color: white;
            align-content: space-between;
            font-size: 25;
            list-style-type: none;
            text-decoration: none;
            border-style: double;
            border-radius: 10px;
        }
        
        a#home:hover {
            border-color: white;
            background-color: black;
        }
        
        a#register {
            background-color: blue;
            color: white;
            align-content: space-between;
            font-size: 25;
            list-style-type: none;
            text-decoration: none;
            border-style: double;
            border-radius: 10px;
        }
        
        #contact {
            text-decoration: none;
            color: blue;
            border-style: inherit;
            text-align: center;
        }
        
        textarea {
            border-style: double;
            border-radius: 10px;
            height: 100px;
            width: 400px
        }
        
        nav {
            background-color: dodgerblue;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        a#name {
            float: left;
        }