body {
    font-family: sans-serif;
    background: url(h1.jpg)no-repeat;
    background-size: cover;
}

nav {
    background-color: blue;
    color: white;
    list-style-type: none;
}

input {
    height: 20pt;
    width: 80pt;
}

form {
    background-color: transparent;
}